.pokeball-loader-container {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeball-loader {
  width: 100px;
  height: 100px;
  background: url('/assets/img/loader.png') no-repeat center/contain;
  animation: spin 1.5s linear infinite;
}
