#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

form {
  display: flex;
  flex-direction: column;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 1rem;
  line-height: 2;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
}

h1,
h2 {
  display: flex;
  justify-self: center;
}

.links-wrapper {
  display: flex;
  margin-top: 1rem;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.form-link {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  color: darkblue;
}

main {
  margin-top: 2rem;
  background-color: rgb(218, 255, 243);
  border-radius: 0.2rem;
  border: 1px solid darkblue;
}

.no-form-message {
  justify-self: center;
  font-size: 1.5rem;
  color: darkblue;
}

.gender {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gender-wrapper {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

input {
  display: flex;
  justify-self: flex-end;
}

label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
}

.gender-input {
  display: flex;
}

span {
  display: flex;
}

.picture-label {
  display: flex;
  flex-direction: column;
}

.strength-meter {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}

.bar {
  width: 25%;
  height: 8px;
  border-radius: 5px;
  background: #fff;
  transition: background 0.3s ease;
}

.bar.weak {
  background: red;
}

.bar.medium {
  background: orange;
}

.bar.strong {
  background: yellow;
}

.bar.very-strong {
  background: green;
}
