.modal-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3;
  border-radius: 8px;
  background: #e4e1e2;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.25) inset;
  padding: 0 16px 16px 16px;
  min-width: 250px;
}

.modal-content p {
  margin: 0 0 12px 0;
  font-weight: 500;
  color: #333;
}

.modal-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  gap: 8px;
}

.modal-button {
  background: var(--primary-bg);
  color: white;
  max-width: 120px;
}

.modal-img-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 120px;
  overflow: hidden;
  position: relative;
}

.modal-img-cont img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  object-position: bottom center;
}
